

<div class="row">
  <div class="col-md-10 main">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-9">
        <div class="voffset5"></div>
        <h1>Create an account</h1>

        <% if @user.errors.any? %>
          <ol>
            <% @user.errors.full_messages.each do |msg| %>
              <li>
                <%= msg %>
              </li>
            <% end %>
          </ol>
        <% end %>
        <h2>
          <%= flash[:error] if flash[:error].present? %>
        </h2>
        <div class="form-group">
          <%= form_for @user do |f| %>
          <%= f.label :name %>
          <%= f.text_field :name, :autofocus => true, :required => true, :class => "form-control" %>
          <%= f.label :password %>
          <%= f.password_field :password, :class => "form-control" %>
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, :class => "form-control" %>
          <div class="voffset4"></div>
          <%= f.submit "Create Account", :class => "btn btn-success" %>
        <% end %>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
</div>

