<div class="voffset7"></div>
<div class="col-md-6">
  <h4>Hey <%= @user.name %>, please ensure your details are correct so we can accurately determine your target daily macronutrient intake:</h4>
  <tbody>
    <table class="table">
      <tbody>
        <tr>
          <td>Gender</td>
          <td><%= @user.gender %></td>
        </tr>
        <tr>
          <td>Date of Birth</td>
          <td><%= @user.dob.strftime('%e %B, %Y') %></td>
        </tr>
        <tr>
          <td>Weekly Exercise Hours</td>
          <td><%= @user.activity_level %></td>
        </tr>
        <tr>
          <td>Height</td>
          <td><%= @user.height %> cm</td>
        </tr>
        <tr>
          <td>Weight</td>
          <td><%= @user.weight %> kgs</td>
        </tr>
        <tr>
          <td>Nutrition Plan</td>
          <td><%= @user.nutrition.name %></td>
        </tr>
      </tbody>
    </table>
  </tbody>
  See something that's not right? <%= link_to('Update Profile', edit_user_path(@current_user.id), :class => "btn btn-success") %>
</div>
<div class="col-md-4">
<div class="voffset7"></div>
<h4>We've crunched the numbers!! Here are your daily targets:</h4>
<div class="voffset5"></div>
<tbody>
    <table class="table">
      <tbody>
        <tr>
          <td>Carbohydrates</td>
          <td><%= @rec_carb %> gm</td>
        </tr>
        <tr>
          <td>Protein</td>
          <td><%= @rec_protein %> gm</td>
        </tr>
        <tr>
          <td>Fat</td>
          <td><%= @rec_fat %> gm</td>
        </tr>
      </tbody>
    </table>
  </tbody>





