<h1>Hey <%= @user.name %>, these are your details we have on record:</h1>
<ul>
  <li>Gender: <%= @user.gender %></li>
  <li>Date of birth: <%= @user.dob %></li>
  <li>Activity Level: <%= @user.activity_level %></li>
  <li>Height: <%= @user.height %></li>
  <li>Weight: <%= @user.weight %></li>
</ul>

