<h3><%= @meal.meal_type %>, <%= @meal.meal_date.strftime('%e %B, %Y') %></h3>
<p>
  <h4>Your meal included these foods:</h4>
</p>
<div class="row">
  <div class="col-md-12 main">
    <div class="col-md-6">
      <% @meal.foods.each do |food| %>
        <p>
          <%= food.quantity %> <%= (food.serving_size).pluralize %> of <%= food.name %>
        </p>
      <% end %> 
    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-5">
      <tbody>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Macronutrient</th>
              <th>You guessed</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Carbohydrates</td>
              <td><%= @meal.carb_guess %></td>
            </tr>
            <tr>
              <td>Protein</td>
              <td><%= @meal.protein_guess %></td>
            </tr>
            <tr>
              <td>Fat</td>
              <td><%= @meal.fat_guess %></td>
            </tr>
          </tbody>
        </table>
      </tbody>
    </div>  
  </div>
</div>
<button type="button" class="btn btn-success"><%= link_to 'Add Food', new_meal_food_path(@meal) %></button>
<button type="button" class="btn btn-success"><%= link_to 'Calculate my Meal!', meal_complete_path(@meal) %></button>
<button type="button" class="btn btn-danger"><%= link_to 'Delete meal', @meal, :method => 'delete', :data => { :confirm => "Are you sure you want to delete this meal?" } %></button>
