<h1><%= @meal.meal_date %></h1>
<h3>Meal Details: </h3> 
<ul>
  <li><%= @meal.meal_type %>, <%= @meal.meal_date.strftime('%e %B, %Y') %></li>
</ul>

<ul>
  <li>Guessed Carbs: <%= @meal.carb_guess %></li>
  <li>Guessed Protein: <%= @meal.protein_guess %></li>
  <li>Guessed Fat: <%= @meal.fat_guess %></li>
</ul>

<% @meal.foods.each do |food| %>
  <p>
    <%= food.quantity %><%= food.name %>
  </p>
<% end %> 


<p>
  <%= link_to 'Add Food', new_meal_food_path(@meal) %>
</p>
<p>
  <%= link_to 'All Foods Added', meal_complete_path(@meal) %>
</p>
<p>
  <%= link_to 'Delete meal', @meal, :method => 'delete', :data => { :confirm => "Are you sure you want to delete this meal?" } %>
</p>

