<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Eatwhat</title>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Alegreya+Sans+SC:100,400' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="opaque">
<nav id="my-logo" class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="logo">
      <a href="/">EatWhat?</a>
    </div>
  </div>
</nav>
<div class="container">
  <div class="container main-container">
    <div class="voffset5">
      <div class="row">
        <div class="col-md-1 side"></div>
          <div class="col-md-9 main">
            
              <%= yield %>

          </div>
        <div class="col-md-2 side">
          <div id="right-nav">
            <ul>
              <div class="side-menu">
                <%== nav_menu %>
              </div>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
<div id="footer"><%= image_tag("nutritionix-logo.png") %></div>  

</html>
